{% extends "base.html"%}

{%block title%} {{block.super)} |  index{%endblock title%} 


{%block content%}
    <ol>
        <li><a href="{% url 'prima_app:homepage'%}">Home page benvenuto</a></li>
        <li><a href="{% url 'prima_app:welcome'%}">Welcomes</a></li>
        <li><a href="{% url 'prima_app:lista'%}">Lista</a></li>
        <li><a href="{% url 'prima_app:chi_siamo'%}">Chi siamo</a></li>
        <li><a href="{% url 'prima_app:variabili'%}">Variabili</a></li>
        <li><a href="{% url 'seconda_app:es_for'%}">es_for</a></li>
        <li><a href="{% url 'seconda_app:es_if'%}">es_if</a></li>
        <li><a href="{% url 'seconda_app:if_else_elif'%}">if_else_elif</a></li>
    </ol>
    {%endblock content%}